* {
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
  overflow: hidden;
}

button {
	background-color: #4CAF50;
	color: white;
	padding: 14px 20px;
	margin: 8px 0;
	cursor: pointer;
	width: 100%;
  border:none;
}

button:hover {
  background-color: rgb(70, 143, 74);
  color: white;
}

div {
  display: flex;
}

#main {
  flex-direction: column;
  justify-content: center;
}

#top, #bottom, #description {
  justify-content: center;
}

#header {
  justify-content: space-between;
  background-color: #4CAF50;
}

#top {
  font-size: 1.5rem;
  /* round */
  border-radius: 1rem;
  /* center */
  text-align: center;
}

#bottom {
  font-size: 1.15rem; 
  /* display: flex; */
  flex-direction: column;
  align-items: center;
  text-align: center;
  border-radius: 0rem;
  padding: 0rem;
  height: 20rem;
  padding-bottom: 0rem;
  width: auto;
}

#description {
  text-align: center;
  font-size: 1rem;
  padding: 5rem;
  flex-direction: column; 
  align-items: center;
  border-radius: 0rem;
  padding-top: 0rem;
  padding-right: 4rem;  
  padding-left: 4rem;
}

#chatbox {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #FFFFFF;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 2rem;
  padding: 3rem;
}

#image {
  position: absolute;
  top: 150%;
}

#chathistory {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #DDDDDD;
  border-radius: 2rem;
  padding: 3rem;
  width: 80%;
  height: 25rem;
  overflow: hidden scroll;
  overflow-wrap: break-word;
  text-align: center;
}

#sent {
  display: flex;
  background-color: #FFFFFF;
  right:100%;
  flex-direction: column;
  justify-content: left;
  align-items: flex-end;
  height: 3rem;
}

#recieved {
  background-color: #4d8d50;
}

#messagebox {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #FFFFFF;
  /* border-radius: 50px; */
  padding-top: 2rem;
  width:100%
}

